.adminContainer {
    padding: 20px;
    margin-left: 50px;
}

.adminPageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.addBtn {
    background-color: var(--second-color);
    color: var(--first-color);
    font-size: 1.1rem;
}

.addBtn:hover {
    background-color: var(--third-color);
    color: var(--second-color);
}

.tableMask {
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.tableMask::-webkit-scrollbar {
    display: none;
}

.adminTable {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

.adminTable th,
.adminTable td {
    padding: 10px;
    border: 1px solid var(--third-color);
    transition: 100ms all;
}

.adminTable tr:not(:has(th)):hover {
    background-color: var(--third-color);
}

.adminTable tr:not(:has(th)):hover td {
    color: var(--second-color);
}

.actions {
    margin-right: 5px;
    margin-left: 5px;
    background-color: var(--second-color);
    color: var(--first-color);
    transition: 100ms all;
}

.actions:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}

.actions svg path,
.addBtn svg path {
    color: var(--first-color);
}

.actions:hover svg path,
.addBtn:hover svg path {
    color: var(--second-color);
}