.adsContainer {
    padding: 10px;
    padding-bottom: 0;
    margin: 0 0 0 50px;
    min-height: 91vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: start;
}

.ad {
    background-color: aliceblue;
    width: fit-content;
    max-width: calc(10% + 15px);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 100ms all;
    word-wrap: break-word;
}

.ad:hover {
    box-shadow: 0 0 5px var(--third-color);
    cursor: pointer;
}

.adCategory,
.adDate {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.no-content-text {
    text-align: center;
    margin-top: 25px;
}

footer {
    text-align: right;
    margin: 20px;
}

@media (max-width: 600px) {
    .ad {
        width: 25%;
        max-width: none;
    }
}

@media (max-width: 400px) {
    .ad {
        width: 100%;
    }

    footer {
        text-align: center;
    }
}