.paginationFooter {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    transition: 100ms all;
}

.paginationFooter button {
    background-color: var(--second-color);
    color: var(--first-color);
}

.paginationFooter button:hover {
    background-color: var(--third-color);
    color: var(--second-color);
}