.sidebarContainer {
    position: relative;
    height: 100%;
}

.nav {
    position: fixed;
    top: 0;
    left: -230px;
    width: 250px;
    background-color: var(--second-color);
    padding: 10px;
    transition: left 0.3s ease-in-out;
    border-radius: 0 0 10px 0;
    box-shadow: 3px 3px 5px var(--third-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--active {
    left: 0;
}

.navList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 90%;
}

.navList li {
    padding: 10px;
}

.sideText {
    width: 10%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    cursor: pointer;
}

.filterField {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filterField button {
    background-color: var(--first-color);
    color: var(--second-color);
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.filterField button:hover {
    background-color: var(--third-color);
}

.navItem {
    transition: 100ms all;
    border-radius: 5px;
}

.navItem:hover {
    cursor: pointer;
    background-color: var(--third-color);
    color: var(--second-color);
}