/* COMPONENTS */
@import url('./components/Sidebar.css');
@import url('./components/AdminLayout.css');

:root {
  --first-color: #fff;
  --second-color: #22d2a0;
  --third-color: #515050;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata Variable', monospace;
  color: var(--third-color);
}

body {
  height: 100vh;
}

select,
input,
button {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

button {
  transition: 100ms all;
}

button:hover {
  cursor: pointer;
}